<div class="container">
  <h2><%= @user.username.capitalize %></h2>
  <div class="d-flex justify-content-between">
    <h3>Rating</h3>
    <%= link_to 'reviews', "#" %>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h3>My Collection</h3>
    <%= link_to 'Add Sneaker', new_user_sneaker_path(@user, @sneaker) %>
  </div>

  <div class="row">

    <% @sneakers.each do |sneaker| %>
      <div class="col-3">
        <%# <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <h4><%= sneaker.brand %></h4>
        <p>$<%= sneaker.price %></p>
      </div>
    <% end %>
  </div>
</div>
