<%# My Collection page %>
<div class="user-bg">
  <div class="container">
    <div class="row">
      <div class="col-3 pt-2">
        <h2><%= @user.username.capitalize %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <div class="d-flex justify-content-between">
          <h3>Rating</h3>
          <%= link_to 'Reviews', "#" %>
        </div>
      </div>
    </div>

  </div>

  <div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <div class="d-flex justify-content-between">
        <h3>My Collection</h3>
        <%= link_to 'Add Sneaker', new_user_sneaker_path(@user, @sneaker) %>
      </div>
    </div>
  </div>

<div class="container brand-grid">
  <% @sneakers.each do |sneaker| %>

    <div class="container sneaker-card">
      <%# row 1 - Brand Logo & Avator Logo %>
      <div class="row d-flex justify-content-between">
        <div class="col-2">
          <%= image_tag "brand_logos/nike.png", alt: "Nike Logo", width: 40 %>
        </div>

        <div class="col-2" id="sneaker-card-avatar">
          <img src="https://source.unsplash.com/LxVxPA1LOVM/60x60" alt="Avator Logo" class="avatar-bordered">
        </div>
      </div>
    <%# Sneaker image %>
      <div class="row mt-3">
        <div class="col-3" id="sneaker-card-image">
           <% if sneaker.photos.attached? %>
            <% sneaker.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 250, width: 200, crop: :fill %>
              <% end %>
          <% end %>
        </div>
      </div>

    <%# Description %>
      <div class="container">
        <%# Model Name %>
        <div class="row">
          <div class="col-3 mt-3">
            <h2><%= sneaker.model %></h2>
          </div>
        </div>
        <%# Size and Price %>
        <div class="row my-2 d-flex justify-content-between">
          <div class="col-1">
            <h3>Size: <%= sneaker.size %></h3>
          </div>

          <div class="col-2" id="sneaker-card-price" >
            <h3>Price: $<%= sneaker.price %></h3>
          </div>
        </div>
        <%# button %>
        <div class="row">
          <div class="col-6">
            <button class="s-btn"><%= link_to "View Details", user_sneaker_path(sneaker.user, sneaker) %></button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
