<div class="container">
  <h2><%= @user.username %></h2>
  <div class="d-flex justify-content-between">
    <h3>Rating</h3>
    <%= link_to 'reviews', "#" %>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h3>My Collection</h3>
    <%= link_to 'Add Sneaker', "#" %>
  </div>

  <div class="row">

    <% @sneakers.each do |sneaker| %>
      <div class="col-3">
        <img src="#" alt="">
        <h4><%= sneaker.brand %></h4>
        <p>$<%= sneaker.price %></p>
      </div>
    <% end %>
  </div>
</div>
