<%# Purchase page %>
<div class="transaction-bg">
  <div class="container transaction-new-card">
    <div class="row p-2 justify-content-center">
      <h2>Purchase Details</h2>
      <%# photo of transacted shoe %>
      <div class="col-12">
        <%= image_tag "airjordon.png", alt: "Nike shoe", width: 550, height: 250 %>
      </div>
    </div>
    <div class="row">

      <%# transaction details %>
      <div class="col-12">
        <div class="container">
          <%# Transaction id %>
          <div class="row">
            <div class="col-12">
              <h4>Brand: <%= @sneaker.brand %></h4>
            </div>
          </div>
          <%# Model %>
           <div class="row d-flex flex-start mt-2">
            <div class="col-3">
              <h4>Model:</h4>
            </div>
            <div class="col-8">
              <h4><%= @sneaker.model %></h4>
            </div>
          </div>
          <%# Sneaker id %>
          <div class="row d-flex flex-start mt-2">
            <div class="col-5">
              <h4>Sneaker ID:</h4>
            </div>
            <div class="col-5">
              <h4><%= @sneaker.id %></h4>
            </div>
          </div>
          <%# Price %>
          <div class="row d-flex flex-start mt-2">
            <div class="col-3">
              <h4>Price:</h4>
            </div>
            <div class="col-5">
              <h4><%= @sneaker.price %></h4>
            </div>
          </div>
          <%# Size %>
          <div class="row d-flex flex-start mt-2">
            <div class="col-3">
              <h4>Size:</h4>
            </div>
            <div class="col-5">
              <h4><%= @sneaker.size %></h4>
            </div>
          </div>
          <%# Date %>
          <div class="row d-flex flex-start mt-2">
            <div class="col-3">
              <h4>Date:</h4>
            </div>
            <div class="col-9">
              <h4><%= @transaction.created_at %></h4>
            </div>
          </div>
          <div class="row ">
            <%= simple_form_for [ @sneaker, @transaction ] do |f| %>
              <%= f.input :sneaker_id, :as => :hidden, :input_html => { :value => @sneaker.id }  %>
              <%= f.input :seller_id, :as => :hidden, :input_html => { :value => @sneaker.user.id }  %>
              <%= f.input :buyer_id, :as => :hidden, :input_html => { :value => current_user.id }  %>
              <%= f.submit "Confirm Purchase", class: "b d-flex justify-content-center" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </div>
