
  <%# Transaction Successful page %>
<div class="transaction-bg">
  <div class="container transaction-card">
    <div class="row">
      <%# photo of transacted shoe %>
        <div class="col-6">
          <%= image_tag "airjordon.png", alt: "Nike shoe", width: 400, height: 400 %>
        </div>

      <%# transaction details %>
      <div class="col-6">
        <div class="container">
          <%# Transaction id %>
          <div class="row">
            <div class="col-6">
              <h2>Transaction No: <%= @transaction.id %></h2>
            </div>
          </div>
          <%# Model %>
           <div class="row d-flex flex-start">
            <div class="col-3">
              <h3>Model:</h3>
            </div>
            <div class="col-5">
              <h3><%= @sneaker.model %></h3>
            </div>
          </div>
          <%# Sneaker id %>
              <div class="row d-flex flex-start">
            <div class="col-3">
              <h3>Sneaker ID:</h3>
            </div>
            <div class="col-5">
              <h3><%= @sneaker.id %></h3>
            </div>
          </div>
          <%# Price %>
          <div class="row d-flex flex-start">
            <div class="col-3">
              <h3>Price:</h3>
            </div>
            <div class="col-5">
              <h3><%= @sneaker.price %></h3>
            </div>
          </div>
          <%# Size %>
          <div class="row d-flex flex-start">
            <div class="col-3">
              <h3>Size:</h3>
            </div>
            <div class="col-5">
              <h3><%= @sneaker.size %></h3>
            </div>
          </div>
          <%# Description %>
          <div class="row d-flex flex-start">
            <div class="col-3">
              <h3>Description:</h3>
            </div>
            <div class="col-6">
              <span><h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </h5></span>
            </div>
          </div>
          <%# Date %>
          <div class="row d-flex flex-start">
            <div class="col-3">
              <h3>Date:</h3>
            </div>
            <div class="col-6">
              <h4>26 June 2022, 0900am </h4>
            </div>
          </div>
          <div class="row">
            <button class="b w-70"><%= link_to "My Collection", user_path(current_user) %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
