<div class="container addsneaker-card">
  <div class= "d-flex align-items-center justify-content-center">
    <div class= "row" justify-content-center form >
      <div class="mb-3">
      <%= simple_form_for [ @user, @sneaker ] do |f| %>
          <%= f.input :brand %>
          <%= f.input :model %>
          <%= f.input :price %>
          <%= f.input :size %>
          <%= f.input :condition, collection: ['New', 'Used'] %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Add Sneaker", class: "b"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
