<%# Sneaker Details page %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="sneaker-images">
        <% if @sneaker.photos.attached? %>
        <% @sneaker.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
      <% end %>
          <div class="row">
            <div class="col-3">
              <div class="card-product mt-5">
              <div class="card-sneaker" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/XPBYi4K8vFI)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-6">
      <h1><%= @sneaker.brand %></h1>
      <h2>$<%= @sneaker.price %></h2>
      <p><%= @sneaker.model %></p>
      <p><%= @sneaker.description %></p>
      <p>Size <%= @sneaker.size %></p>
      <p>Owner: <%= @sneaker.user.first_name %></p>
      <%= link_to "Back To #{@sneaker.brand}", brand_sneakers_path(@sneaker.brand), class: "btn btn-gradient" %>
      <%= link_to "Home", root_path, class: "btn btn-gradient" %>
      <% if @sneaker.user != current_user %>
        <%= link_to "Buy Now", new_sneaker_transaction_path(@sneaker), class: "btn btn-gradient" %>
        <% end %>
    </div>
  </div>
  </div>
</div>
