<%= link_to "Sneaker Page", user_path(current_user) %>
<div class="container">
  <div class="row">

    <div class="col-12 col-lg-8">
      <% if @sneaker.photos.attached? %>
        <% @sneaker.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
      <% end %>
      <div class="card-product imgs">
        <div>
          <h2>Brand:<%= @sneaker.brand %></h2>
          <p>Size:<%= @sneaker.size %></p>
          <p>Condition:<%= @sneaker.condition %> </p>
        </div>
        <h2 class="card-sneaker-pricing"> Size:<%= @sneaker.size %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>

    <div class="container">
      <div class="col-12 col-lg-4">
        <a class="btn btn-gradient" href="#">Buy</a>
        <a class="btn btn-gradient" href="#">Trade</a>
      </div>
    </div>
  </div>
 </div>
